<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>StockHub - Equipamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>STOCKHUB desenvolvido para uso da Pixel Internet</h1>
    <nav>
        <a href="{{ url_for('search') }}" class="botao-link"><span class="texto-zoom">Buscar</span> </a>
        <a href="{{ url_for('relatorio_excel') }}" class="botao-link"> <span class="texto-zoom">Exportar Excel </span></a>
        <a href="{{ url_for('relatorio_pdf') }}" class="botao-link"> <span class="texto-zoom"> Exportar PDF</span> </a>
        <a href="{{ url_for('register') }}" class="botao-link" ><span class="texto-zoom">Registrar Equipamento </span></a>
        
        <a href="{{ url_for('generate_report') }}" class="botao-link"><span class="texto-zoom"> Baixar Relatório JSON </span></a>
        <a href="{{ url_for('relatorio_html') }}" class="botao-link"><span class="texto-zoom">Visualizar Relatório HTML </span></a>
        
        <a href="{{ url_for('logout') }}" class="botao-link"> <span class="texto-zoom"> Sair</a>
    
    

    
    </nav>
    <br>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead style="background-color: #00A19A; color: white;">
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Nº de Série</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for equipamento in equipamentos %}
            <tr>
                <td>{{ equipamento.id }}</td>
                <td>{{ equipamento.modelo }}</td>
                <td>{{ equipamento.numero_serie }}</td>
                <td>{{ equipamento.cliente_nome }}</td>
                <td>{{ equipamento.data_instalacao }}</td>
                <td>
                    <a href="{{ url_for('delete_item', equipamento_id=equipamento.id) }}" onclick="return confirm('Tem certeza que deseja excluir este equipamento?');">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
